---
const projects = [
  {
    id: 1,
    title: 'Universal Club Design',
    category: 'Web',
    color: '#636060',
    images: ['/TRAP UNIVERSAL (1).png', '/TRAP UNIVERSAL (2).png'],
    link: 'https://www.instagram.com/p/C_zHc6PJq0H/?igsh=MXc2YWlldmI3cHI2dA==',
  },
  { id: 2, title: 'Finance App', category: 'Mobile', color: '#10B981' },
  { id: 3, title: 'Travel Planner', category: 'Web', color: '#F59E0B' },
  { id: 4, title: 'Fitness Tracker', category: 'Mobile', color: '#EF4444' },
  { id: 5, title: 'Restaurant Booking', category: 'Web', color: '#8B5CF6' },
  { id: 6, title: 'Smart Home Dashboard', category: 'Web', color: '#6366F1' },
];

const categories = ['All', 'Web', 'Mobile'];
---

<section id="projects" class="bg-[#1a1a1a] text-white py-16 px-4">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center">Designs</h2>

    <div class="flex justify-center mb-12">
      {
        categories.map((category) => (
          <button
            class="filter-btn z-20 mx-2 px-4 py-2 rounded-full transition-all duration-300 bg-[#3a3939] hover:bg-[#535252]"
            data-category={category}
          >
            {category}
          </button>
        ))
      }
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12"
      id="projectGrid"
    >
      {
        projects.map((project) => (
          <div
            class="project group relative transition-all duration-300 hover:-translate-y-4"
            data-category={project.category}
          >
            <div class="aspect-w-16 aspect-h-9 mb-4">
              {project.images ? (
                <div class="slider" data-project-id={project.id}>
                  {project.images.map((image, index) => (
                    <img
                      src={image}
                      alt={`${project.title} ${index + 1}`}
                      class={`w-full h-auto object-fill ${index === 0 ? 'active' : 'hidden'}`}
                    />
                  ))}
                </div>
              ) : project.category === 'Web' ? (
                <svg
                  class="w-full h-auto"
                  viewBox="0 0 200 120"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="10"
                    y="10"
                    width="180"
                    height="100"
                    rx="4"
                    fill="#636060"
                  />
                  <rect
                    x="14"
                    y="14"
                    width="172"
                    height="92"
                    rx="2"
                    fill={project.color}
                  />
                  <rect
                    x="0"
                    y="110"
                    width="200"
                    height="10"
                    rx="2"
                    fill="#fff"
                  />
                </svg>
              ) : (
                <svg
                  class="w-full h-auto"
                  viewBox="0 0 100 180"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="10"
                    y="10"
                    width="80"
                    height="160"
                    rx="10"
                    fill="#fff"
                  />
                  <rect
                    x="14"
                    y="14"
                    width="72"
                    height="152"
                    rx="8"
                    fill={project.color}
                  />
                  <circle cx="50" cy="168" r="4" fill="#636060" />
                </svg>
              )}
            </div>
            <div class="text-center">
              <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
              <p class="text-gray-400">{project.category}</p>
            </div>
            <div class="absolute inset-0 bg-[#1a1a1a] bg-opacity-0 mb-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
              <button class="bg-white text-gray-900 px-4 py-2 rounded-full font-semibold hover:bg-white/60 transition-colors duration-300">
                <a href={project.link} target="_blank">
                  View Post
                </a>
              </button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .filter-btn.active {
    background-color: white;
    color: #111827; /* gray-900 */
  }

  .project {
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .project.hidden {
    display: none;
  }

  .slider img.hidden {
    display: none;
  }

  .slider img.active {
    display: block;
  }
</style>

<script>
  const filterButtons = document.querySelectorAll('.filter-btn');
  const projects = document.querySelectorAll('.project');
  const intervalImage = 1500;
  function updateImageIndex() {
    const visibleProjects = Array.from(projects).filter(
      (project) => !project.classList.contains('hidden')
    );
    visibleProjects.forEach((project, index) => {
      const img = project.querySelector('img');
      if (img) {
        img.setAttribute('data-index', (index + 1).toString());
      }
    });
  }

  function startImageSlider() {
    const sliders = document.querySelectorAll('.slider');
    sliders.forEach((slider) => {
      let currentIndex = 0;
      const images = slider.querySelectorAll('img');
      setInterval(() => {
        images[currentIndex].classList.remove('active');
        images[currentIndex].classList.add('hidden');
        currentIndex = (currentIndex + 1) % images.length;
        images[currentIndex].classList.remove('hidden');
        images[currentIndex].classList.add('active');
      }, intervalImage);
    });
  }

  filterButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const category = button.getAttribute('data-category');

      filterButtons.forEach((btn) => btn.classList.remove('active'));
      button.classList.add('active');

      projects.forEach((project) => {
        if (
          category === 'All' ||
          project.getAttribute('data-category') === category
        ) {
          project.classList.remove('hidden');
        } else {
          project.classList.add('hidden');
        }
      });
      updateImageIndex();
    });
  });

  updateImageIndex();
  startImageSlider();
</script>
